<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do | dose| %>
<%= dose.ingredient.name %> - <%= dose.description %> | <%= link_to "destroy", dose_path(dose), data: {:confirm => "Are you sure?"}, :method => :delete %> |
<% end  %>


<%= link_to "Create doses", new_cocktail_dose_path(@cocktail) %> | <%= link_to "Back to list", cocktails_path %>
